# Default ignored files
/shelf/
/workspace.xml
/libraries/Maven__com_beust_jcommander_1_82.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_10_3.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_3.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_10_3.xml
/libraries/Maven__com_github_docker_java_docker_java_3_2_13.xml
/libraries/Maven__com_github_docker_java_docker_java_api_3_2_13.xml
/libraries/Maven__com_github_docker_java_docker_java_core_3_2_13.xml
/libraries/Maven__com_github_docker_java_docker_java_transport_3_2_13.xml
/libraries/Maven__com_github_docker_java_docker_java_transport_httpclient5_3_2_13.xml
/libraries/Maven__com_google_auto_auto_common_1_2.xml
/libraries/Maven__com_google_auto_service_auto_service_1_0_1.xml
/libraries/Maven__com_google_auto_service_auto_service_annotations_1_0_1.xml
/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/libraries/Maven__com_google_code_gson_gson_2_9_0.xml
/libraries/Maven__com_google_errorprone_error_prone_annotations_2_11_0.xml
/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/libraries/Maven__com_google_guava_guava_31_1_jre.xml
/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/libraries/Maven__com_typesafe_netty_netty_reactive_streams_2_0_4.xml
/libraries/Maven__commons_codec_commons_codec_1_13.xml
/libraries/Maven__commons_io_commons_io_2_6.xml
/libraries/Maven__dev_failsafe_failsafe_3_2_3.xml
/libraries/Maven__info_cukes_cucumber_core_1_2_5.xml
/libraries/Maven__info_cukes_cucumber_html_0_2_3.xml
/libraries/Maven__info_cukes_cucumber_jvm_deps_1_0_5.xml
/libraries/Maven__info_cukes_gherkin_2_12_2.xml
/libraries/Maven__io_cucumber_ci_environment_8_1_0.xml
/libraries/Maven__io_cucumber_cucumber_core_7_2_3.xml
/libraries/Maven__io_cucumber_cucumber_expressions_15_0_1.xml
/libraries/Maven__io_cucumber_cucumber_gherkin_7_2_3.xml
/libraries/Maven__io_cucumber_cucumber_gherkin_messages_7_2_3.xml
/libraries/Maven__io_cucumber_cucumber_java_7_2_3.xml
/libraries/Maven__io_cucumber_cucumber_junit_7_2_3.xml
/libraries/Maven__io_cucumber_cucumber_plugin_7_2_3.xml
/libraries/Maven__io_cucumber_datatable_1_0_3.xml
/libraries/Maven__io_cucumber_datatable_dependencies_1_0_3.xml
/libraries/Maven__io_cucumber_docstring_7_2_3.xml
/libraries/Maven__io_cucumber_html_formatter_17_0_0.xml
/libraries/Maven__io_cucumber_messages_17_1_1.xml
/libraries/Maven__io_cucumber_tag_expressions_4_1_0.xml
/libraries/Maven__io_github_bonigarcia_webdrivermanager_5_1_0.xml
/libraries/Maven__io_netty_netty_buffer_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_codec_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_codec_http_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_codec_socks_4_1_60_Final.xml
/libraries/Maven__io_netty_netty_common_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_handler_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_handler_proxy_4_1_60_Final.xml
/libraries/Maven__io_netty_netty_resolver_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_transport_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_transport_classes_epoll_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_transport_classes_kqueue_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_transport_native_epoll_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_60_Final.xml
/libraries/Maven__io_netty_netty_transport_native_kqueue_4_1_75_Final.xml
/libraries/Maven__io_netty_netty_transport_native_kqueue_osx_x86_64_4_1_60_Final.xml
/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_75_Final.xml
/libraries/Maven__io_opentelemetry_opentelemetry_api_1_12_0.xml
/libraries/Maven__io_opentelemetry_opentelemetry_context_1_12_0.xml
/libraries/Maven__io_opentelemetry_opentelemetry_exporter_logging_1_12_0.xml
/libraries/Maven__io_opentelemetry_opentelemetry_sdk_1_12_0.xml
/libraries/Maven__io_opentelemetry_opentelemetry_sdk_common_1_12_0.xml
/libraries/Maven__io_opentelemetry_opentelemetry_sdk_extension_autoconfigure_1_12_0_alpha.xml
/libraries/Maven__io_opentelemetry_opentelemetry_sdk_extension_autoconfigure_spi_1_12_0.xml
/libraries/Maven__io_opentelemetry_opentelemetry_sdk_logs_1_12_0_alpha.xml
/libraries/Maven__io_opentelemetry_opentelemetry_sdk_metrics_1_12_0_alpha.xml
/libraries/Maven__io_opentelemetry_opentelemetry_sdk_trace_1_12_0.xml
/libraries/Maven__io_opentelemetry_opentelemetry_semconv_1_12_0_alpha.xml
/libraries/Maven__io_ous_jtoml_2_0_0.xml
/libraries/Maven__junit_junit_4_13_2.xml
/libraries/Maven__net_bytebuddy_byte_buddy_1_12_8.xml
/libraries/Maven__net_java_dev_jna_jna_5_8_0.xml
/libraries/Maven__org_apache_commons_commons_compress_1_21.xml
/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
/libraries/Maven__org_apache_commons_commons_lang3_3_12_0.xml
/libraries/Maven__org_apache_httpcomponents_client5_httpclient5_5_0_3.xml
/libraries/Maven__org_apache_httpcomponents_core5_httpcore5_5_0_2.xml
/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/libraries/Maven__org_asynchttpclient_async_http_client_2_12_3.xml
/libraries/Maven__org_asynchttpclient_async_http_client_netty_utils_2_12_3.xml
/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_64.xml
/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_64.xml
/libraries/Maven__org_brotli_dec_0_1_2.xml
/libraries/Maven__org_checkerframework_checker_qual_3_12_0.xml
/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_api_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_chromium_driver_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_devtools_v85_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_devtools_v97_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_devtools_v98_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_devtools_v99_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_http_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_java_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_json_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_opera_driver_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_4_1_3.xml
/libraries/Maven__org_seleniumhq_selenium_selenium_support_4_1_3.xml
/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_30.xml
/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
